<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/tour.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles about Kyrgyzstan</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;600&family=Oswald:wght@300;400;500;600;700&display=swap');
    </style>
</head>
<body>
<header th:insert="block/header :: header"></header>

<main class="main">
    <section class="main__image">
        <img th:src="@{/img/tourBack.png}" alt=""/>
        <div class="main-info-block wrapper">
            <span class="tours__title">Find your escape</span>
            <div class="main-info-text">
                <p>
                    Some text jsdncjsncsjdncjdncjsdnc sdjcsjdncjsdncjsdncjsdcnsjdcn
                    sdcsdcsdcsdmcskdmcksdmcksd
                </p>
            </div>
            <div class="main-info__button">
                <a href="" class="">Book a tour</a>
            </div>
        </div>
    </section>
    <section class="tours-block">
        <div class="info__content">
            <div>
                <form action="/tours" method="get" class="search">
                    <input type="text" name="title" class="search__input" placeholder="Search tours">
                    <input type="submit" value=" " class="search__btn">
                    <img th:src="@{/img/svg/search.svg}" alt="" class="search__icon">
                    </input>
                </form>
            </div>
            <div class="add-art__block" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="#popup" class="info__add-art">
                    Add new tour
                </a>
            </div>
        </div>
        <section class="tours-cards">
            <div class="wrapper">
                <div class="tours-cards__card" th:each="el : ${tour}">
                    <img th:src="'/images/' + ${el.images[0].id}" alt="" class="tour__card-img" height="200px">
                    <a th:href="'/tours/'+ ${el.id}" class="tours-cards__description">
                        <h3 th:text="${el.title}"/>
                        <p class="tours__text" th:text="${el.region}"/>
                        <h3 th:text="'Guide ' + ${el.user.name}" class="guide"></h3>
                    </a>
                </div>
            </div>
            </div>
        </section>
    </section>
    <div id="popup" class="popup">
        <a href="#header" class="popup__area"></a>
        <div class="popup__body">
            <div class="popup__content">
                <a href="#header" class="popup__close">
                    <img th:src="@{/img/svg/close.svg}" alt="" class="close-icon">
                </a>
                <p class="popup__title">Add new tour</p>
                <form action="/tours/add" method="post" enctype="multipart/form-data">
                    <input type="text" name="title" class="popup__input" placeholder="Title"><br>
                    <textarea type="text" name="description" class="popup__input popup__input-area" placeholder="Description"></textarea><br>
                    <input type="text" name="region" class="popup__input" placeholder="Region"><br>
                    <textarea type="text" name="advantages" class="popup__input" placeholder="What will customer get"></textarea><br>
                    <input type="number" name="cost" class="popup__input" placeholder="Cost"><br>
                    <input type="number" name="age" class="popup__input" placeholder="Age limit"><br>
                    <textarea type="text" name="notes" class="popup__input" placeholder="Important notes"></textarea><br>
                    <label for="file1" class="popup__file">Select preview</label>
                    <input type="file" id="file1" style="visibility:hidden;" name="file1" value="Choose a pic1"><br>
                    <label for="file2" class="popup__file">Select Image</label>
                    <input type="file" id="file2" style="visibility:hidden;" name="file2" placeholder="Choose a pic2"><br>
                    <label for="file3" class="popup__file">Select Image</label>
                    <input type="file" id="file3" style="visibility:hidden;" name="file3" placeholder="Choose a pic3"><br>
                    <button type="submit" class="popup__btn">Add</button>
                </form>
            </div>
<!--            <div class="popup__content" sec:authorize="!isAuthenticated()">-->
<!--                <a href="#header" class="popup__close">-->
<!--                    <img th:src="@{/img/svg/close.svg}" alt="" class="close-icon">-->
<!--                </a>-->
<!--                <p class="popup__title pop-mess">Only authorized users can add a tour. <a class="popup-link" href="/login">Login</a></p>-->
<!--            </div>-->
        </div>
    </div>
</main>


<footer th:insert="block/footer :: footer"></footer>
<script th:src="@{/js/script.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
</body>
</html>

