<footer class="footer" id="foot" th:fragment="footer">
    <div class="wrapper">
        <div class="footer__item">
            <div class="footer__logo">
                <img th:src="@{/img/svg/LOGO.svg}" alt="odigo-logo" class="footer__logo-pic">
            </div>
            <nav class="footer__nav">
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <h3 class="footer__menu-title">
                            Contact us
                        </h3>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link">Telegram</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link">WhatsApp</a>
                    </li>
                    <li class="footer__menu-item">Email: kyrgyztours@gmail.com
                    </li>
                    <li class="footer__menu-item">
                        Tel: +996904897
                    </li>
                    <li class="footer__menu-item">
                        Addresse: Maldybaeva 34b
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <h3 class="footer__menu-title">
                            Work shedule
                        </h3>
                    </li>
                    <li class="footer__menu-item">
                        Weekdays
                    </li>
                    <li class="footer__menu-item">
                        10:00 - 18:00
                    </li>
                    <li class="footer__menu-item">
                        Lunch break
                    </li>
                    <li class="footer__menu-item">
                        13:00 - 14:00
                    </li>
                    <li class="footer__menu-item">
                        Weekends
                    </li>
                    <li class="footer__menu-item">
                        Days off
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <h3 class="footer__menu-title">
                            Q&A
                        </h3>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link">How can I book a tour?</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link">What are most popular tours?</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link">Do you sotrudnichat with me?</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link">Layout hello world?</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__nav">
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <h3 class="footer__menu-title">
                            Navigation
                        </h3>
                    </li>
                    <li class="footer__menu-item">
                        <a href="/" class="footer__menu-link_nav">Main Page</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#!" class="footer__menu-link_nav">Tours</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="/articles" class="footer__menu-link_nav">Articles</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
