<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/">
<header id="header" class="header" th:fragment="header">
    <div class="wrapper">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="/" class="header__logo-icon">
                    <img th:src="@{/img/svg/LOGO.svg}" alt="">
                </a>
            </div>
            <nav class="header__wrap">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="#foot" class="list-item">Contacts</a>
                    </li>
                    <li class="header__list-item">
                        <a href="/tours" class="list-item">Tours</a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="list-item">Regions &bigtriangledown;</a>
                        <ul>
                            <li th:each="el : ${region}">
                                <a th:href="'/regions/' + ${el.id}" th:text="${el.regionFullName}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__list-item">
                        <a href="/articles" class="list-item">Articles</a>
                    </li>
                    <li class="header__list-item"  sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <a href="/admin" class="list-item">Admin Panel</a>
                    </li>
                    <li class="header__list-item"  sec:authorize="hasAuthority('ROLE_USER')">
                        <a th:href="'/user/' + ${currentUser.id}" class="list-item">Profile</a>
                    </li>
                </ul>
            </nav>
            <nav class="header__wrap">
                <span sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" class="header__form">
                        <input type="submit" value="Sign out" class="header__form-btn"/>
                    </form>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <ul  class="header__list">
                        <li class="header__list-item_log">
                            <a href="/login" class="list-item header__form">Log in</a>
                        </li>
                        <li class="header__list-item_log">
                            <a href="/registration" class="list-item header__form">Sign up</a>
                        </li>
                    </ul>
                </span>

            </nav>
        </div>
    </div>
</header>
</html>
